<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduovv.movie">

    <application>
        <activity
            android:name=".view.WatchHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MovieDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MovieDetailActivityForDebug"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SubjectDetailActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>