<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduovv.movie">

    <application>
        <activity
            android:name="com.duoduovv.movie.view.WatchHistoryActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.duoduovv.movie.view.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".view.MovieDetailActivityForDebug"
            android:screenOrientation="portrait"/>
    </application>
</manifest>