<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduovv.cinema">

    <application>

        <activity android:name=".view.SearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.TestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.SearchMoreSelectActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>